@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --blue: #0065fc;
  --lightblue: #deebff;
  --aliceblue: #f3f8ff;
  --gray: #f2f2f2;
  --grayplus: #d9d9d9;
  --black: #000000;
  --white: #ffffff;
}

html,
body {
  box-sizing: border-box;
  font-family: "Raleway", "Arial", sans-serif;
}
.contenant {
  margin: 32px;
}

a {
  color: inherit;
  text-decoration: none;
}
/* Navigation et logo */
header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

/*Navigation*/
nav a {
  padding: 32px;
  border-top: 3px solid transparent;
}
nav {
  display: flex;
}

nav a:hover {
  border-top-color: var(--blue);
}
#nav-word-hebergement {
  font-weight: bold;
  color: var(--blue);
}
/*div logo et image logo*/
#logoimage {
  width: 120px;
}

.logo {
  margin-right: auto;
}

/* section trouver votre logement */
#introduction p {
  margin-bottom: 24px;
  font-size: 20px;
}
#introduction h1 {
  margin-bottom: 10px;
  font-size: 28px;
}

/* section recherche */
.recherche {
  display: flex;
  margin-bottom: 30px;
}

.recherche i {
  padding: 16px 20px;
  background-color: var(--gray);
  border-radius: 15px 0px 0px 15px;
}

.recherche input {
  padding: 0px 45px 0px 15px;
  width: 300px;
  border: 1px solid var(--gray);
  height: 60px;
  font-weight: bold;
  font-size: 20px;
}
.fa-solid.fa-location-dot{
font-size: 20px;
}

.recherche input::placeholder {
  font-size: large;
  font-weight: bold;
  color: var(--black);
}
button {
  padding: 0px 20px;
  border-radius: 0px 16px 16px 0px;
  background-color: var(--blue);
  color: var(--white);
  font-weight: bold;
  font-size: large;
  border: none;
  cursor: pointer;
}

/*Icone loupe*/
.fa-solid.fa-magnifying-glass {
  display: none;
}

/*section filters*/
.filter-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.filter-list h1 {
  font-size: 24px;
}
.filter {
  border-radius: 30px;
  padding: 0px 16px 0px 0px;
  border: 2px solid var(--grayplus);
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.filter:hover {
  background-color: var(--aliceblue);
  transform: scale(1.1);
}
.fa-solid.fa-money-bill-wave,
.fas.fa-child,
.fas.fa-heart,
.fas.fa-dog {
  color: var(--blue);
  background-color: var(--lightblue);
  padding: 16px;
  margin: -2px;
  border-radius: 50%;
}

.filter span {
  font-weight: 900;
}

/* section info*/
#info {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
#info p {
  font-size: 22px;
}
.fas.fa-info {
  color: var(--blue);
  height: 32px;
  width: 32px;
  min-height: 32px;
  min-width: 32px;
  border: solid 1px var(--grayplus);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

/*section Hébergements à Marseille et Les plus populaires*/
#liste-logements{
  display: flex;
  flex-direction: row;
  padding: 32px 0px;
  gap: 16px;
}

.hebergement-marseille{
  flex-basis: 67%;
  padding: 32px;
  margin: 10px;
  border-radius: 16px;
  background-color: var(--gray);
}
.populaire-plus {
  flex-basis: 33%;
  padding: 32px;
  margin: 10px;
  border-radius: 16px;
  background-color: var(--gray);
}

.hebergement-marseille h2 {
  font-size: 24px;
}
.populaire-plus h2 {
  font-size: 24px;
}

/*liste des blocks Hebergements à Marseille*/
.resultats-recherche-marseille {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 42px;
}

.carte-logement {
  display: block;
  width: 28%;
  min-width: 140px;
  padding: 7px;
  flex-wrap: wrap;
  border-radius: 16px;
  justify-content: space-between;
  background-color: var(--white);
  box-shadow: 0px 0px 16px var(--gray);
}
.carte-logement:hover {
  transform: scale(1.1);
}
/*les images hébergements à Marseille*/
.carte-logement img {
  border-radius: 16px 16px 0px 0px;
  height: 120px;
  width: 100%;
  min-width: 140px;
  margin: auto;
  object-fit: cover;
  object-position: center;
}

.carte-logement p{
  margin: 7px;
}
.carte-logement h3 {
  margin: 7px;
  font-size: 16px;
}

/*Afficher plus*/
.afficherplus {
  font-size: 24px;
  font-weight: bolder;
  margin-left: 10px;
}
/*Les plus populaires*/
.title-populaire-chart{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 370px;
  margin:auto;
}
.fa-solid.fa-chart-line {
  font-weight: bolder;
  font-size: 32px;
}

.listpopulaire {
  flex-direction: column;
  border-radius: 16px;
}

.sun a {
  display: flex;
  align-self: stretch;
  width: 370px;
  height: 150px;
  margin: auto;
  border-radius: 16px;
  background-color: var(--white);
  margin-bottom: 32px;
  padding: 7px;
  box-shadow: 0px 0px 16px var(--gray);
}

.sun:hover {
  transform: scale(1.1);
}

.sun img {
  width: 140px;
  align-self: stretch;
  align-items: stretch;
  height: 150px;
  border-radius: 16px 0 0 16px;
  margin-right: 32px;
  object-fit: cover;
}

.sun-description {
  flex-direction: column;
  display: block;
  align-content: space-around;
  width: 300px;
  padding-right: 20px;
}

.popstar {
  position: relative;
  top: 10px;
}

/* Color of the stars*/
.bluestar {
  color: var(--blue);
}
.graystar {
  color: var(--grayplus);
}

/* section les activités à Marseille*/
.activites {
  display: block;
  margin-bottom: 30px;
}
#act{
  font-size: 28px;
}
.allblocks {
  display: flex;
  justify-content: space-between;
}

figure {
  margin: 0px;
  font-weight: bold;
  padding: 0px 0px 30px 0px;
}
figcaption {
  position: relative;
  left: 20px;
  top: 20px;
}
.block1,
.block3 {
  box-shadow: 1px 3px 4px var(--gray);
  width: 22%;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition-duration: 0.1s;
}

.block1 img,
.block3 img {
  max-width: 100%;
  height: 500px;
  object-fit: cover;
  box-shadow: 1px 3px 4px var(--gray);
  border-radius: 16px 16px 0px 0px;
}

.block2 img,
.block4 img {
  max-width: 100%;
  width: 100%;
  height: 200px;
  object-fit: cover;
  box-shadow: 1px 3px 4px var(--gray);
  border-radius: 16px 16px 0px 0px;
}

.block2 {
  display: flex;
  width: 22%;
  justify-content: space-between;
  flex-direction: column;
  align-self: stretch;
}
.block2-part1 {
  border-radius: 16px;
  align-items: stretch;
  box-shadow: 1px 3px 4px var(--gray);
  border-radius: 16px;
}

.block2-part2 {
  border-radius: 16px;
  align-items: stretch;
  box-shadow: 1px 3px 4px var(--gray);
  border-radius: 16px;
}

.block4 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 16px;
  align-self: stretch;
}
.block4-part1 {
  border-radius: 16px;
  align-items: stretch;
  box-shadow: 1px 3px 4px var(--gray);
  border-radius: 16px;
}

.block4-part2 {
  border-radius: 16px;
  align-items: stretch;
  box-shadow: 1px 3px 4px var(--gray);
  border-radius: 16px;
}

/* Footer*/

footer a {
  display: block;
  margin: 16px 0px;
}
.footer {
  display: flex;
  background-color: var(--gray);
  width: 100%;
  max-width: 100%;
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
}
.footer-part {
  width: 30%;
  padding: 32px 32px;
  display: block;
}

.footer h4 {
  font-weight: bolder;
  font-size: 20px;
}

/* Version mobile */
@media screen and (max-width: 767px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
  }

  header {
    display: block;
  }
  #logoimage {
    display: flex;
    margin: auto;
    padding-bottom: 10px;
  }
  nav a:hover {
    border-bottom: 3px solid var(--blue);
    border-top-color: transparent;
  }
  .sub-nav {
    display: flex;
    width: 100%;
  }
  .sub-nav a {
    text-align: center;
    width: 50%;
  }
  #introduction h1, #introduction p, .recherche, .filter-list, #info{
    padding: 0px 32px;
  }
  #textloup {
    display: none;
  }
  .fa-solid.fa-magnifying-glass {
    display: flex;
    background-color: inherit;
    justify-content: center;
  }

  button {
    border-radius: 16px;
  }
  .filter-list h2 {
    width: 100%;
    margin-bottom: 0px;
  }
  #liste-logements {
    flex-direction: column-reverse;
  }
  .carte-logement img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .carte-logement {
    display: block;
    flex-direction: row;
    width: 100%;
  }

  /* les plus populaires */
  .sun{
    margin-bottom: 20px;
  }

  .sun a{
    margin: auto;
    width: auto;
  }
  .title-populaire-chart{
    margin: auto;
    width: auto;
  }

  /*Activités à Marseille*/
  .allblocks {
    display: block;
    flex-direction: column;
  }

  .block1,
  .block2,
  .block3,
  .block4 {
    width: 100%;
    margin-top: 30px;
  }
  .block2-part1,
  .block4-part1 {
    margin-bottom: 30px;
  }
  .allblocks img {
    width: 100%;
    height: 200px;
  }

  /* footer*/
  .footer {
    flex-direction: column;
  }
  .footer-part {
    width: 100%;
  }
}

/* Pour les tablettes  entre 768px et 992px*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  .carte-logement{
    display: block;
    flex-direction: row;
    width: 45%;
  }
  #liste-logements {
    flex-direction: column;
  }
.sun a{
  width: auto;
}
.title-populaire-chart{
  width: auto;
}
.allblocks{
flex-wrap: wrap;
gap: 20px;
}
.block1, .block2, .block3, .block4{
  width: 48%;
}

}
